/.vscode
*.iml
.gradle
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild
/fastlane/key.json
/fastlane/report.xml
/fastlane/screenshots/*/*.png
/fastlane/screenshots/screenshots.html
/fastlane/screenshots/report.xml
/fastlane/metadata/
/fastlane/README.md
app/**/debug/
app/**/release/
.project
.classpath
.settings
