.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
app/src/main/java/org/openobservatory/measurement_kit/jni/
measurement_kit-jni-libs-v*.tar.bz2.asc
measurement_kit-jni-libs-v*.tar.bz2
measurement_kit-android-*.tar.bz2
measurement_kit-android-*.tar.bz2.asc
