.DS_Store
.gradle
/.idea/libraries
/.idea/workspace.xml
/app/src/main/java/org/openobservatory/measurement_kit/
/build
/captures
/local.properties
/measurement_kit_android-*.tar.bz2
/measurement_kit_android-*.tar.bz2.asc
