<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.openobservatory.ooniprobe">

    <uses-sdk tools:overrideLibrary="com.google.android.gms,com.google.android.gms.tasks,com.google.firebase,com.google.firebase.messaging,com.google.firebase.iid" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ooniprobeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.InformedConsentActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ResultActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".utils.AlarmReceiver"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.INTERNET" />
        <receiver
            android:name=".utils.OnBootReceiver"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".utils.ConnectionStateMonitor">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".utils.ConnectionStateMonitor">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name=".utils.NotificationRegister">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="529a3ff33bd5359fe86c53f6252035178bdb03a1" />

        <service android:name=".utils.NotificationsRouter">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification_icon" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/color_ooni_blue" />

        <activity
            android:name=".activity.BrowserActivity"
            android:theme="@style/FullScreen"
            android:label="">
            <intent-filter>
                <action android:name="org.openobservatory.ooniprobe.OPEN_BROWSER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NotificationDialog"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".activity.RunTestActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <action android:name="org.openobservatory.ooniprobe.nettest" />
                <data android:scheme="https"
                    android:host="run.ooni.io"
                    android:pathPrefix="/nettest" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <action android:name="org.openobservatory.ooniprobe.nettest" />
                <data android:scheme="http"
                    android:host="run.ooni.io"
                    android:pathPrefix="/nettest" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="ooni"
                    android:host="nettest" />
            </intent-filter>
        </activity>
    </application>

</manifest>