<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="org.openobservatory.ooniprobe">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<application
		android:name=".common.Application"
		android:allowBackup="false"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/General_AppName"
		android:supportsRtl="true"
		android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar.App"
		tools:replace="android:allowBackup, android:label">
		<meta-data
			android:name="io.fabric.ApiKey"
			android:value="529a3ff33bd5359fe86c53f6252035178bdb03a1" />
		<meta-data
			android:name="com.google.firebase.messaging.default_notification_icon"
			android:resource="@drawable/ic_notification" />
		<meta-data
			android:name="com.google.firebase.messaging.default_notification_color"
			android:resource="@color/color_base" />

		<service android:name=".utils.NotificationRegister">
			<intent-filter>
				<action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
			</intent-filter>
		</service>
		<service android:name=".utils.NotificationsRouter">
			<intent-filter>
				<action android:name="com.google.firebase.MESSAGING_EVENT" />
			</intent-filter>
		</service>
		<receiver
			android:name=".utils.ConnectionStateMonitor">
			<intent-filter>
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
			</intent-filter>
		</receiver>

		<activity
			android:name=".activity.MainActivity"
			android:launchMode="singleTop"
			android:screenOrientation="portrait"
			android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar.App.NoActionBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.BrowserActivity"
			android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar.App.NoActionBar">
			<intent-filter>
				<action android:name="org.openobservatory.ooniprobe.OPEN_BROWSER" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.NotificationDialogActivity"
			android:theme="@style/Theme.MaterialComponents.Light.Transparent" />
		<activity
			android:name=".activity.InformedConsentActivity"
			android:screenOrientation="portrait"
			android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar.App.NoActionBar" />
		<activity
			android:name=".activity.PreferenceActivity"
			android:launchMode="singleTop"
			android:parentActivityName=".activity.MainActivity" />
		<activity
			android:name=".activity.OverviewActivity"
			android:launchMode="singleTop"
			android:parentActivityName=".activity.MainActivity" />
		<activity
			android:name=".activity.ResultDetailActivity"
			android:launchMode="singleTop"
			android:parentActivityName=".activity.MainActivity" />
		<activity
			android:name=".activity.MeasurementDetailActivity"
			android:launchMode="singleTop"
			android:parentActivityName=".activity.ResultDetailActivity" />
		<activity
			android:name=".activity.TextActivity"
			android:parentActivityName=".activity.MeasurementDetailActivity" />
		<activity
			android:name=".activity.RunningActivity"
			android:launchMode="singleTop"
			android:parentActivityName=".activity.MainActivity" />
		<activity
			android:name=".activity.InfoActivity"
			android:label="@string/Settings_About_Label"
			android:parentActivityName=".activity.PreferenceActivity"
			android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar.App.NoActionBar">
			<intent-filter>
				<action android:name="org.openobservatory.ooniprobe.activity.InfoActivity" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.CustomWebsiteActivity"
			android:label="@string/Settings_Websites_CustomURL_Title"
			android:parentActivityName=".activity.PreferenceActivity">
			<intent-filter>
				<action android:name="org.openobservatory.ooniprobe.activity.CustomWebsiteActivity" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.OoniRunActivity"
			android:label="@string/General_AppName"
			android:launchMode="singleTop"
			android:parentActivityName=".activity.MainActivity"
			android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.App">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<action android:name="org.openobservatory.ooniprobe.nettest" />
				<data
					android:host="run.ooni.io"
					android:pathPrefix="/nettest"
					android:scheme="https" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<action android:name="org.openobservatory.ooniprobe.nettest" />
				<data
					android:host="run.ooni.io"
					android:pathPrefix="/nettest"
					android:scheme="http" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data
					android:host="nettest"
					android:scheme="ooni" />
			</intent-filter>
		</activity>
	</application>
</manifest>
