<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="org.openobservatory.ooniprobe">

	<uses-permission android:name="${applicationId}.CountlyPush.BROADCAST_PERMISSION" />

	<application tools:ignore="GoogleAppIndexingWarning">
		<meta-data
			android:name="com.google.firebase.messaging.default_notification_icon"
			android:resource="@drawable/ic_notification" />
		<meta-data
			android:name="com.google.firebase.messaging.default_notification_color"
			android:resource="@color/color_base" />
		<meta-data
			android:name="com.google.firebase.messaging.default_notification_channel_id"
			android:value="@string/General_AppName" />
		<meta-data
			android:name="firebase_analytics_collection_enabled"
			android:value="false" />
		<service android:name=".common.FirebaseMessagingService"
			android:exported="false">
		<intent-filter>
			<action android:name="com.google.firebase.MESSAGING_EVENT" />
		</intent-filter>
		</service>
	</application>
</manifest>
