name: build
on:
  push:
jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Remove Google Services
      run: sed -i -s '/com.google.gms/d' build.gradle app/build.gradle

    - name: Build stableFdroid
      run: ./gradlew assembleStableFdroid
